* {
    margin: 0;
    padding: 0;
}

main {
    width: 99.1vw;
    height: 100vh;
    background-color: #010409;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0D1117;
    align-items: center;
    box-shadow: 0px 5px #774df5;
    margin-bottom: 5px;
}

.icon {
    max-width: 90px;
    max-height: 90px;
    border-radius: 100px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px #774df5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-right: 30px;
}

.nav h3 {
    font-size: 20px;
    color: #774df5;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.iframe {
    border: 0px;
    width: 100vw;
    height: 100vh;
}